[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
djangorestframework = "*"
black = "*"
pillow = "*"
pytest-django = "*"
django-extensions = "*"
pytest-sugar = "*"
django-cors-headers = "*"

[dev-packages]
pytest-env = "*"

[requires]
python_version = "3.9"
